{
    "bracketSameLine": true,
    "printWidth": 120,
    "tabWidth": 4,
    "trailingComma": "es5",
    "arrowParens": "always",
    "bracketSpacing": true,
    "embeddedLanguageFormatting": "auto",
    "insertPragma": false,
    "jsxSingleQuote": false,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "vueIndentScriptAndStyle": false,
    "singleQuote": true,
    "semi": false,
    "useTabs": false,
    "importOrder": [
        "^/(.*)$$",
        "^[./]",
        "^assets/(.*)$",
        "^components/(.*)$",
        "^constants/(.*)$",
        "^contexts/(.*)$",
        "^i18n/(.*)$",
        "^modules/(.*)$",
        "^redux/(.*)$",
        "^services/(.*)$",
        "^themes$",
        "^themes/(.*)$",
        "^typings/(.*)$",
        "^utils/(.*)$"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderGroupNamespaceSpecifiers": true
}
